.hero{
  background-image: url(../../../assets/images/banner.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 582px;
  &-title{
    font-size: 36px; 
    @include media-breakpoint-down(md) { 
      font-size: 28px;
    }
  }

  &-subtitle{
    font-size: 24px; 
    @include media-breakpoint-down(md) { 
      font-size: 20px;
    }
  }
}

.feeling{
  &-card{   
    background-position: center;
    background-size: cover;
    height: 252px;
    @include media-breakpoint-up(md){
      height: 420px;
    }
    @include media-breakpoint-down(md){
      height: 420px;
    }
  }
  
}

.teach{
  &-card-lg{
    background-image: url('../../../assets/images/teach.jpeg');
    background-position: center;
    background-size: cover;
    height: 628px;
    position: unset;
  }
  &-img{
    width: 68px;
    height: 68px;
    @include media-breakpoint-down(md){
      width: 48px;
      height: 48px;
    }
  }
  &-img-lg{
    width: 94px;
    height: 94px;
    @include media-breakpoint-down(md){
      width: 48px;
      height: 48px;
    }
  }
}

.relax{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-card{
    background-position: center;
    background-size: cover;
    height:207px;
    &-lg{
      background-position: center;
      background-size: cover;
      height: 444px;
      @include media-breakpoint-down(md){        
        height: 207px;
      }
    }
  }
  
}

.choice{
  &-card{
    height: 238px;    
    @include media-breakpoint-only(md){
      width: 50%;
    }
  }
  &-card-img{ 
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .card-body{
    @include media-breakpoint-only(md){
      width: 50%;
    }
  }
}

.course{
  &-card{
    height: 445px;
    background-position: center;
    background-size: cover;    
  }
  &-card-sm{
    height: 150px;
    background-position: center;
    background-size: cover;   
    @include media-breakpoint-down(md){
      height: 165px;
    } 
  }
}